@charset "utf-8";

@import "destyle.scss";
@import "variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Klee+One&family=Pacifico&display=swap');

html {
  font-size: 100%;
}

body {
  background-color: $baseColor;
  color: $black;
  font-family: 'Klee One', cursive;
  font-size: 1.2rem;
}

.app {
  position: relative;
}
