@charset "utf-8";

@import "variables.scss";
@import "breakpoints.scss";
@import "mixin.scss";

.home {
  margin: 0 auto;
  text-align: center;
  width: 100%;

  &__title {
    margin: 24px;
    padding: 4px;
    color: $mainColor;
    font-size: 4.8rem;

    @include mq(sm) {
      font-size: 3.2rem;
    }
  }

  &__subtitle {
    margin-bottom: 48px;
    font-size: 1.4rem;

    @include mq(sm) {
      font-size: 1.2rem;
    }
  }

  &__icon {
    padding: 0 16%;
  }

  &__badges {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;

    @include mq(sm) {
      flex-direction: column;
    }
  }

  &__function {
    margin-top: 32px;

    @include mq(sm) {
      font-size: 1.0rem;
    }
  }

  &__list {
    margin: 16px 0 40px;
  }

  &__item {
    padding: 8px 0;
    color: $accentColor;
    font-size: 1.8rem;

    @include mq(sm) {
      font-size: 1.4rem;
    }
  }
}
